#notes-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 60px);
  padding: 15% 10%;

  gap: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.note {
  position: relative;
  height: 300px;
  width: 270px;
  background-color: var(--keepnote-pastel-blue);
  border-radius: 12px;
  box-shadow: 6px 6px 7px 2px rgba(0, 0, 0, 0.1);

  flex: 0 1 300px;
}

.note.pastel-blue { background-color: var(--keepnote-pastel-blue); }
.note.pastel-bland-pink { background-color: var(--keepnote-pastel-bland-pink); }
.note.pastel-pink { background-color: var(--keepnote-pastel-pink); }
.note.pastel-yellow { background-color: var(--keepnote-pastel-yellow); }
.note.pastel-green { background-color: var(--keepnote-pastel-green); }

.note-title {
  position: absolute;
  max-width: 200px;
  width: 100%;
  top: .75em;
  left: .75em;

  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-options {
  position:absolute;
  right: .75em;
  top: .75em;

  color: rgba(0, 0, 0, 0.5);
}

.note-content {
  position: absolute;
  display: -webkit-box;
  max-width: 230px;
  height: fit-content;
  width: 100%;
  top: 2.25em;
  left: .75em;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  overflow: hidden;
}

.note-date {
  position: absolute;
  bottom: .75em;
  right: .75em;

  font-size: .6em;
  color:rgba(0, 0, 0, 0.);
}