@import url("vars.css");

#notes-container, .notes-shared {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 60px);
	padding: 15% 10%;

	gap: 2em;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	overflow-y: hidden;
}

.notes-shared {
	height: 100%;
	width: auto;
	position: relative;
	padding: 0 1em 0 0;
	border-right: hsl(211deg 28% 29% / 27%) 2px solid;
	overflow: visible;
}

.notes-shared .notes-shared-title {
	position: absolute;
	top: -1em;
	left: 2em;

	font-size: 1.25em
}

.note {
	position: relative;
	min-height: 280px;
	height: 300px;
	width: 270px;
	background-color: var(--keepnote-pastel-blue);
	border-radius: 12px;
	box-shadow: 6px 6px 7px 2px rgba(0, 0, 0, 0.1);

	flex: 0 1 300px;
}

.note.pastel-blue { background-color: var(--keepnote-pastel-blue); }
.note.pastel-bland-pink { background-color: var(--keepnote-pastel-bland-pink); }
.note.pastel-pink { background-color: var(--keepnote-pastel-pink); }
.note.pastel-yellow { background-color: var(--keepnote-pastel-yellow); }
.note.pastel-green { background-color: var(--keepnote-pastel-green); }

.note-title {
	position: absolute;
	max-width: 200px;
	width: 100%;
	top: .75em;
	left: .75em;

	font-weight: 700;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-options {
	position:absolute;
	right: .75em;
	top: .75em;

	color: rgba(53, 73, 94, 0.7);
	border-radius: 10px;
	cursor: pointer;
}

.note-options:hover {
	background-color: #0000000f;
}

.note-content {
	position: absolute;
	display: -webkit-box;
	max-width: 230px;
	height: fit-content;
	width: 100%;
	top: 2.25em;
	left: .75em;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7; /* start showing ellipsis when 3rd line is reached */
	white-space: pre-wrap; /* let the text wrap preserving spaces */
	overflow: hidden;
}

.note-date {
	position: absolute;
	bottom: .75em;
	right: .75em;

	font-size: .6em;
	color: rgba(53, 73, 94, 0.7);
}

.note-options-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: .5em;
	top: 2em;
	width: 50%;
	height: 50%;

	border-radius: 15px;
	box-shadow: var(--keepnote-card-box-shadow);
	background-color: var(--keepnote-secondary);
	align-items: center;
	overflow: hidden;
	opacity: 1;
	visibility: visible;

	transition: all 150ms ease-in-out;
}

.note-options-container.hidden {
	opacity: 0;
	visibility: hidden;
}

.note-options-container .note-options-option {
	display: flex;
	flex: 1;
	width: 100%;

	text-align: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
}

.note-options-container .note-options-option:hover {
	color: var(--keepnote-accent);
	background-color: var(--keepnote-bg);
}

#note-edit-container, #note-share-container {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	justify-content: center;
	align-items: center;
	visibility: visible;
}

#note-edit-container.hidden, #note-edit-container.hidden #note-edit,
#note-share-container.hidden, #note-share-container.hidden #note-share {
	opacity: 0;
	visibility: hidden;
}

#note-edit-container #note-edit-tint,
#note-share-container #note-share-tint {
	position: absolute;
	display: block;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);

	transition: opacity 250ms ease-in-out;

	overflow: hidden;
	z-index: 3;
}

#note-edit-container #note-edit,
#note-share-container #note-share {
	position: relative;
	width: 14em;
	height: 16em;

	font-family: var(--keepnote-text-family);

	padding: 1em;
	background-color: var(--keepnote-pastel-seagreen);
	border-radius: 12px;
	box-shadow: 6px 6px 7px 2px rgba(0, 0, 0, 0.2);
	transition: all 250ms cubic-bezier(0.96, 0.01, 0.06, 0.97);

	z-index: 10;
}

#note-share-container #note-share {
	height: auto;
	width: auto;
}

#note-edit #note-edit-title,
#note-share #note-share-email {
	height: 10%;
	font-weight: 700;
	font-size: 1.25em;
	width: 100%;
}

#note-share #note-share-email {
	height: 100%;
}

#note-edit #note-edit-content {
	height: 90%;
	margin: 0 auto;
	font-size: .75em;
	width: 100%;

	overflow: hidden;
	overflow-wrap: break-word;
}

#note-edit #note-edit-content, #note-edit #note-edit-title,
#note-share #note-share-email {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: none;
	outline: none;

	color: var(--keepnote-text-dark);
	font-family: inherit;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#note-edit #note-edit-content:focus, #note-edit #note-edit-title:focus,
#note-share #note-share-email:focus {
	outline: none;
}

#note-edit #note-edit-content::placeholder, #note-edit #note-edit-title::placeholder,
#note-share #note-share-email::placeholder {
	color: var(--keepnote-text-grey);
}

#note-edit-submit-button,
#note-share-submit-button {
	position: absolute;
	width: 3em;
	height: 3em;
	bottom: 0em;
	right: -4em;

	background-color: var(--keepnote-secondary);
	border-radius: 50px;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);

	cursor: pointer;
	user-select: none;
}


@media screen and (max-width: 960px) {
	#notes-container {
		height: 100%;
		overflow-x: scroll !important;
	}

	#note-edit-submit-button {
		bottom: -4em;
    left: calc(50% - 1.5em);
	}
}