@import url("vars.css");
@import url("helpers.css");

body {
	position: relative;
	font-family: Comfortaa, sans-serif;
	margin: 0;
	height: 100vh;
	width: 100vw;

	background-color: var(--keepnote-bg);
	font-size: 24px;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

.flex-row-center {
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.flex-column {
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
	font-family: inherit;

	border-radius: 12px;
	font-size: 1em;

	box-shadow: var(--keepnote-card-box-shadow);
}

.card-login {
	padding: 1.2em;
	background-color: var(--keepnote-secondary);
	width: 600px;
}

.card .header {
	font-size: 2.8em;
}


.card .input {
	font-family: inherit;
	font-size: 1em;
	font-weight: 600;
	width: 400px;
	padding: 1em;
	border: 1px solid var(--keepnote-text);
	border-radius: 7px;

	color: var(--keepnote-text);
	transition: all 2s ease-in-out;
}

.card .button {
	font-family: inherit;
	font-size: 1em;
	background-color: var(--keepnote-accent);
	width: 330px;
	height: 64px;
	font-weight: 600;
	border-radius: 50px;
	border: none;

	color: var(--keepnote-bg);
}

.card .button:hover {
	background-color: var(--keepnote-text);
	color: var(--keepnote-accent);
}

.card .login-note {
	font-size: 0.7em;
}

#table {
	display: flex;
	flex-direction: column;
	height: auto;
	max-height: 75%;
	width: 80%;
	margin: 4em auto;

	border-radius: 30px;
	overflow: hidden;
	background-color: var(--keepnote-secondary);
}

#table #table-header {
	display: flex;
	flex-direction: row;
	
	font-size: 1em;
	font-weight: 700;
	background-color: var(--keepnote-accent);
}

#table .table-row {
	display: flex;
	flex-direction: row;
}

#table .table-cell {
	flex: 1;
	padding: 1em;

	border-top: 1px solid var(--keepnote-bg);
}

.table-cell:not(:last-child) {
	border-right: 1px solid var(--keepnote-bg);
}

.table-cell:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-cell .icon {
	color: red;
	cursor: pointer;
}

@media screen and (max-width: 414px) {
	form, .container {
			width: 100%;
	}

	form > input,
	form > textarea,
	form > button {
			width: calc(100% - 1em);
	}
}